<h1>
  {{title}}
</h1>
<button
  (click)="doChallenge()">
  Do challenge
</button>

<app-message-overlay
  *ngFor="let message of messages"
  [data]="message"
  [messageToggleAnimationState]="messageToggleAnimationState">
</app-message-overlay>
<div>
  <div style="width: 100px; float: left;" *ngFor="let item of items">
    <app-text-image-box
      [data]="item" >
    </app-text-image-box>
  </div>
</div>




